<!-- src/app/app.component.html -->

<mat-toolbar class="header">
  <span role="header" color="primary">GraphQL Todo</span>
</mat-toolbar>
<main class="container">
  <div class="add-todo">
    <mat-form-field class="add-todo-field">
      <input
        #todoInput
        matInput
        (keyup.enter)="addTodo(todoInput.value); todoInput.value = ''"
        placeholder="Today, I learn about Angular, GraphQL and TypeScript!"
      />
    </mat-form-field>
    <button
      mat-mini-fab
      (click)="addTodo(todoInput.value); todoInput.value = ''"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let todo of todoItems" class="list">
      <mat-checkbox color="primary">
        {{ todo.title }}
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
</main>
